body {
        font: 10px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
        margin:12px;
        margin-right:24px;
	padding: 0px;
        color: Black;
	background-color: White;
	border-collapse: collapse;
        border-top: 0px solid Black;
        border-left: 0px solid Black;
        border-right: 0px solid Black;
        border-bottom: 0px solid Black;
}

.loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 30px;
      height: 30px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
                    0% { -webkit-transform: rotate(0deg); }
                  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
                        0% { transform: rotate(0deg); }
                      100% { transform: rotate(360deg); }
}



.trable {
        font: 10px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
        color: Black;
	background-color: White;
        border-color:     White;
        border:0px;
        margin:0px;
	padding: 0px;
	border-collapse: collapse;
}

.table {
     color:            Black;
     background-color: White;
     border-color:     White;
}
.th {
  text-align: middle;
  vertical-align: middle;
}
.td {
     color:            Black;
     background-color: White;
     border-color:     White;
}
.white {
        font: 10px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
        margin: 0px;
        padding: 0px;
        color: Black;
        text-align: left;
        vertical-align: top;
        background-color: White;
	border-collapse: collapse;
        border-top: 0px solid Green;
        border-left: 0px solid White;
        border-right: 0px solid White;
        border-bottom: 0px solid White;
}
.grape {
        font: 10px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
        margin: 0px;
        padding: 0px;
        color: Black;
        background-color: #F5F5F5;
	border-collapse: collapse;
        border-top: 0px solid White;
        border-left: 0px solid White;
        border-right: 0px solid White;
        border-bottom: 0px solid White;
}
.large {
        font: 16px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
        margin: 0px;
        padding: 0px;
        color: Black;
        background-color: #DFE3EE;
	border-collapse: collapse;
        border-top: 0px solid White;
        border-left: 0px solid White;
        border-right: 0px solid White;
        border-bottom: 0px solid White;
}
.largeinput {
        font: 16px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
        margin: 0px;
        padding: 0px;
        color: Black;
        background-color: #FFFFFF;
	border-collapse: collapse;
        border-top:    1px solid Black;
        border-left:   1px solid Black;
        border-right:  1px solid Black;
        border-bottom: 1px solid Black;
}
.black {
        font: 10px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
        margin: 0px;
        padding: 0px;
        color: White;
        background-color:Green;
	border-collapse: collapse;
        border-top: 3px solid Green;
        border-left: 3px solid Green;
        border-right: 3px solid Green;
        border-bottom: 3px solid Green;
}
.banner {
        width: 100%; 
        font: 14px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
        padding: 0px;
        color: White;
	line-height: 1.0em; 
        text-shadow: 0px 0px 0px #fff;
        background-color:Black;
        border-bottom: 0px solid #8b9dc3;
        border-top: 0px solid #8b9dc3;
}
.client_area {
        width: 100%; 
        font: 14px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
        margin: 0px;
        padding: 0px;
        color: Black;
	background-color: White;
}
.menu_area {
        width: 100%; 
        font: 14px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
        margin: 0px;
        padding: 0px;
        color: White;
	background-color: Black;
}
.charttitlebold {
	font-size:16px;
        font-weight: bold;
        color: Black;
        padding: 0px;
}
.charttitle {
	font-size:10px;
        font-weight: normal;
        color: Black;
        padding: 0px;
}
.menu {
	font-size:12px;
        color: Black;
        margin:0px;
        padding: 0px;
	border-width: 0px;
}

td {
	text-align:left;
}
a, a:link,a:visited,a:hover { color: Black; text-decoration: underline; }

.bootonlaibel {
  font-size:11px;
  color: Black;
  background-color: #e7e7e7;
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
  border: 0px solid Black;
  text-transform:uppercase;
}
.booton,
.booton:link,
.booton:active,
.booton:visited {
  font-size:11px;
  color: Black;
  background-color: #e7e7e7;
  text-align: middle;
  vertical-align: middle;
  font-weight: normal;
  border: 2px solid Black;
  text-transform:uppercase;
}
 
.booton:hover {
  color: #e7e7e7;
  background-color: #000000;
  text-align: middle;
  vertical-align: middle;
  cursor: pointer; /* cursor: hand; for IE5 */
}

.bootonsmall,
.bootonsmall:link,
.bootonsmall:active,
.bootonsmall:visited {
  font-size:8px;
  color: Black;
  background-color: #e7e7e7;
  text-align: middle;
  vertical-align: middle;
  font-weight: normal;
  border: 2px solid Black;
  text-transform:uppercase;
}
 
.bootonsmall:hover {
  color: #e7e7e7;
  background-color: #000000;
  text-align: middle;
  vertical-align: middle;
  cursor: pointer; /* cursor: hand; for IE5 */
}
.manpage {
	color: Black;
        font: bold 12px Courier;
	text-align:left;
}
.searchbar {
    font-size: 10px;
    text-align:center;
    vertical-align:middle;
    xpaddingorder: top right bottom left;
    padding: 0px 0px 4px 0px;
    margin: 0px 0px 0px 0px;
    border-spacing: 0px;
    border-collapse: collapse;
}
.searchbartext {
    font-size: 10px;
  text-align:left;
    vertical-align:middle;
    padding: 0px 0px 4px 0px;
    margin: 0px 0px 0px 0px;
    border-spacing: 0px;
    border-collapse: collapse;
}

.middlesmall {
        width: 100%; 
        color: Black;
        font-size:12px;
	text-align:center;
}
.footer {
        width: 100%; 
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 6px;
	padding: 0px;
        margin:0px;
        padding: 0px;
        color: White;
        font-size:6px;
	line-height: 1.0em; 
        text-shadow: 1px 1px 1px #fff;
        background-color: Black;
        border-top: 2px solid DarkBlue;
}

.theanchor {
  text-decoration: underline;
}
/*
****************************************************************************************
The four links states are:
    a:link - a normal, unvisited link
    a:visited - a link the user has visited
    a:hover - a link when the user mouses over it
    a:active - a link the moment it is clicked
****************************************************************************************
*/

.round,
.round:active,
.round:hover,
.round:link,
.round:visited {
     background: Blue;
     -moz-border-radius: 18px;
     border-radius: 18px;
     text-decoration: none;
}


table.gridtable,
table.td {
     font-size:11px;
     color: Black;
     background-color: White;
     font-weight: normal;
     border-color:     #696969;
     xborder-collapse:  collapse;
     border-style:     solid;
     border-width:     1px;
     padding:          0px;
     text-align:       left;
}
table.gridtable th {
     font-size:11px;
     color: White;
     background-color: #696969;
     border-color:     Black;
     border-style:     solid;
     border-width:     1px;
     padding:          0px;
     text-align:       left;
}
table.gridtable select {
   width: 100px;
   margin: 0px;
   border: 1px solid white;
   background: transparent;
   padding: 0px 7px 0px 0px;
   font-size: 11px;
   color: Black;
   font-weight: bold;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
table.gridtable a {
     text-decoration:  underline;
}
